instances:
  - name: kibana
    dns: [ kibana , localhost , __KIBANA_HOSTNAMES__ ]
    ip: [ 127.0.0.1, __KIBANA_NODES_IP__ ]
  - name: es01
    dns: [ es01 , node1 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es02
    dns: [ es02 , node2 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es03
    dns: [ es03 , node3 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es04
    dns: [ es04 , node4 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es05
    dns: [ es05 , nodeS , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es06
    dns: [ es06 , node6 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es07
    dns: [ es07 , node7 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es08
    dns: [ es08 , nodes , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es09
    dns: [ es09 , node9 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es10
    dns: [ es10 , node10 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es11
    dns: [ es11 , node11 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es12
    dns: [ es12 , node12 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es13
    dns: [ es13 , node13 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es14
    dns: [ es14 , node14 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es15
    dns: [ es15 , node15 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es16
    dns: [ es16 , node16 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es17
    dns: [ es17 , node17 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es18
    dns: [ es18 , node18 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es19
    dns: [ es19 , node19 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: es20
    dns: [ es20 , node20 , localhost ]
    ip: [ 127.0.0.1 ]
  - name: apm-server
    dns: [ apm-server , localhost ]
    ip: [ 127.0.0.1 ]
  - name: elastic-agent
    dns: [ elastic-agent , localhost ]
    ip: [ 127.0.0.1 ]
  - name: fleet-server
    dns: [ fleet-server , localhost ]
    ip: [ 127.0.0.1 ]
